<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div align="center">
    <div>
        <a href="/logout">Logout</a>
    </div>
    <table border="1" cellpadding="5">
        <caption><h2>User Information</h2></caption>
        <tr>
            <th>Username: </th>
            <td th:text="${user.username}"></td>
        </tr>
        <tr>
            <th>Role: </th>
            <td>
                <div th:each="role : ${user.roles}">
                    <div th:text="${role.name}"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Password: </th>
            <td>Hidden</td>
        </tr>
    </table>
</div>

</body>
</html>